<div class="container-center">
    <div id="todos-container" class="todos-container shadow-lg p-3 mb-5 bg-body rounded">
        <div class="mb-3 title" id="title">
            <label for="titleInput" class="form-label">Todo-Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Pay the Electricity bill">
        </div>
        <div class="mb-3 desc" id="desc">
            <label for="taskInput" class="form-label">Description</label>
            <textarea class="form-control" id="taskInput" rows="3" style='resize:none'></textarea>
        </div>
        <app-add-btn></app-add-btn>
    </div>
</div>