* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  overflow-x: hidden;
  background: whitesmoke !important;
}

label {
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  margin-bottom: 30px !important;
}

.flex-container {
  margin-top: 50px;
  h1 {
    text-align: center;
    margin-bottom: 100px !important;
  }
}

.container-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.todos-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 300px;

  .title,
  .desc {
    width: 300px;
  }
}

#todos-container {
  border-radius: 10px !important;
}
// .todos-container {
//   max-width: 100%;
// }
